.gallery{
    width: 100%;
    height: auto;
    text-align: center;
    margin: auto;
}
.gallery img{
    height:auto;
    transition: 0.5s;
    max-width: 500px;
    max-height: 500px;
}
.gallery img:hover{
    filter: grayscale(80%);
    transform: scale(1.02);
}